/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Staatliches&display=swap'); */

.DList{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(223, 252, 255);
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

.container{
    /* border: 1px solid red; */
    border-radius: 15px;
    padding: 10px;
    width: 98%;
    margin: auto;
    /* background-color:  rgba(0, 11, 19, 0.855); */
    background-color:  rgba(0, 11, 19, 0.855);
}

.btn-refresh{
    margin: auto;
    margin-bottom: 20px;
    width:100px;
    /* border-radius: 1px; */
}

.btn-refresh button{
    color: white;
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.153);
    border: 0;
    border-radius: 5px;
}

.col-contain {
    /* border: 1px solid red; */
    margin: 0;
    background-color: rgba(0, 41, 68, 0.29);
    margin-bottom: 5px;
    border-radius: 5px;
}
  
.col-contain > div {
    /* border: 1px solid red; */
    display: inline-block;
    padding: 8px 0px;
    text-align: center;
    
}

.head{
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);

}

.col{
    word-wrap: break-word;
}
.col1{
    width:5%;
}

.col2{
    width:21%;
}
.col3{
    width:18%;
}
.col4{
    width:10%;
}
.col5{
    width:15%;
}
.col6{
    width:8%;
}
.col7{
    width:9%;
}
.col8{
    width:9%;
}

.col-contain button{
    padding: 8px 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    background-color:rgba(0, 39, 66, 0.855);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.112);
    border: 0;
}

.col-contain button:hover{
    background-color: rgba(0, 62, 107, 0.855);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.112);
    cursor: pointer;
}