@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Staatliches&display=swap');


body{
  background-repeat: no-repeat;
  background-image: url('./assets/Background.png');
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', sans-serif; */

/* *{
  font-family: 'Poppins', sans-serif;
} */